*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/

*.db
BuildingEscape/.vs/BuildingEscape/v15/Solution.VC.db-wal
BuildingEscape/.vs/BuildingEscape/v15/Solution.VC.db-shm
BuildingEscape/.vs/BuildingEscape/v15/Browse.VC.opendb
